<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body style="font-family: Arial; font-size: 14px;" class="container">

<div>

    <div style="margin: 10px 0 10px 10px; padding: 50px;">

        <img src="https://oplk-it-ideia-arquivos.s3.amazonaws.com/11ceb45a-851e-4d4a-8155-1de650e578bd__logo_ideia.png"
             width="300" height="150"/>

        <h3>Ol&aacute;,</h3>

        <p style="font-size: 20px;">Segue a agenda de Avaliação Psicológica do dia: <span
                th:text="${diaAgenda}"></span>
        </p>

        <br/>
        <br/>
        <br/>
        <table style="width: 100%; border-collapse: collapse;  margin: 20px 0">

            <tr style="font-size: 20px; border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc;">
                <td>Nome</td>
                <td>IDEIA - Instituto de Desenvolvimento Empresarial e Individual Assessorado S/C LTDA</td>
            </tr>

            <tr style="font-size: 20px; border-left: 1px solid #ccc; border-right: 1px solid #ccc;">
                <td>Endereço</td>
                <td>Rua Francisco Sales, 1341, Bairro Osvaldo - Uberlândia MG CEP:38400-440 Telefone: 34-99971-0952
                </td>
            </tr>

            <tr
                    style="font-size: 20px; border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc;">
                <td>Responsável Técnica</td>
                <td>Aparecida Nilza Marquez Freitas Souza</td>
            </tr>

            <tr
                    style="font-size: 25px; text-align: center; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc;">
                <td colspan="2">
                    AGENDAMENTO AVALIAÇÃO PSICOLÓGIA POLÍCA FEDERAL
                </td>
            </tr>


        </table>

        <table style="width: 100%; border-collapse: collapse;  margin: 20px 0">

            <thead>

            <tr style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; font-size: 16px; border-left: 1px solid #ccc; border-right: 1px solid #ccc;">
                <th style="text-align: left">Data</th>
                <th style="text-align: left"><span th:text="${diaAgenda}"></span></th>
                <th style="text-align: left" colspan="2"><span th:text="${diaSemana}"></span></th>
            </tr>
            <tr style="border-left: 1px solid #ccc; border-right: 1px solid #ccc;">
                <th style="text-align: left">HORÁRIO</th>
                <th style="text-align: left">NOME</th>
                <th style="text-align: left">CPF</th>
                <th style="text-align: left">TELEFONE</th>
            </tr>
            </thead>

            <tbody>
            <tr style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc;"
                th:each="func: ${funcs}">

                <td th:text="${func.hora}"></td>
                <td th:text="${func.nome}"></td>
                <td th:text="${func.cpf}"></td>
                <td th:text="${func.telefone}"></td>

            </tr>
            </tbody>
        </table>

        <p>Nilza Marquez - Instituto IDEIA</p>

    </div>

</div>
</body>

</html>